<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form">
        <fieldset class="a">
            <input type="date">
            <br><br>
            <form action="/sendExpend" method="POST" id="expend">
                <input type="text" placeholder="지출" name="expend">
                <select name="type" id="se">
                    <option value="transport">교통비</option>
                    <option value="food">식비</option>
                    <option value="etc">기타</option>
                </select>
                <input type="submit">
                <!-- 김준서 -->
            </form>

            <br><br>
            <form action="/sendIncome" method="POST" id="income">
                <input type="text" placeholder="수입" name="income">
                <select name="type2" id="se2">
                    <option value="Pinmoney">용돈</option>
                    <option value="Salary">알바비</option>
                    <option value="etc2">기타</option>
                </select>
                <input type="submit">
            </form>

        </fieldset>
    </div>
</body>

</html>